@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #498467;
  --secondary: #52B788;
  --fill-color: #B2D3A8;
  --highlight: #E79473;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
